*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/src/img/tlou.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(12, 12, 12);
}
